
{{'hallo Welt'}}

<form ng-submit="submitPost()" >
  <input type="text" ng-model="post.title" />
  <input type="text" ng-model="post.url" />
  <input type="hidden" ng-model="post.rate" value={{rate}} ></input>

<div><rating ng-model="post.rate" max="10" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span> <pre style="margin:15px 0;">Rate: <b>{{post.rate}}</b></pre></div>
  <input type="submit" value="Add Post" />
</form>



Posts: {{ posts }}<br/>
Post: {{ post }}
Post-URL: {{ post.url }}

<div ng-repeat="post in posts">
<a href="{{ post.url }}">{{ post.title }}</a>&nbsp;(Rate: {{post.rate}})&nbsp;<button ng-click="deletePost($index)">delete post</button>



</div>


